extends layout

block content
  h1= "Uploaded Files"
  table
    thead
      tr
        th Patient ID
        th Document ID
        th Date Of Service
        th File Format
        th
    each val in uploadedFiles
      tr
        td #{val.patientId}
        td #{val.docId}
        td #{val.dateOfService}
        td #{val.fileFormat}
        td
          a(href= "/download/#{val.fileName}") Download
